:root {
    --navbar-height: 50px;
    --color-light: #f1f1f1;
    --color-accent: #9370DB;
    --color-neutral: #858585;
    --color-dark: #000000;
}

body {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100vh;
    width: 100vw;
}

#navbar {
    height: var(--navbar-height);
    background-color: var(--color-light);
    color: var(--color-dark);
}

#map-containter {
    position: relative;
}

#map {
    height: calc(100vh - var(--navbar-height));
    width: 100vw;
}

#login,
#logout {
    background-color: var(--color-accent);
    color: var(--color-light);
    border: none;
    padding: 7px;
    margin: 7px;
    border-radius: 7px;
    cursor: pointer;
    float: right;
}

#profile {
    display: inline-block;
    margin: 7px;
    padding: 7px;
}